<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="container">
    <div class="jumbotron text-center border-bottom">
      <h1 class="font-weight-bold">Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">SCRAPE</a></p>
    </div>Updated
    <div class="row">
      <div class="col-md-12">
        <h2><u>Latest Mars News</u></h2>
      </div>
    </div>
  </br>
    <div class="row">
      <div class="col-md-12">
        <h4>{{mars_info.news_title | safe}}</h4>
        <p>{{mars_info.news_para | safe}}</p>
      </div>
    </div>
  <hr>
    <div class="row">
      <div class="col-md-8 border">
        <h2 class=""><u>Featured Mars Image</u></h2> 
        </br>
        <img src="{{mars_info.featured_image_url | safe}}" alt="Features Mars Image">
      </div>
      <div class="col-md-4"
        <div class="border">
          </br>
          <div class="border">
          <h5>Mars Facts</h5>
          <div style="max-width: 450px; max-height: 150px; font-size: 15px; margin-bottom: 65px;">
            {{mars_info.mars_facts | safe}}
          </div>
        </div>
        </br>
      </div>
    </div>
  <hr>
    <div class="row">
      <div class="col-md-8 offset-4">
        <h2 class="align-items-center"><u>Mars hemispheres</u></h2>  
      </div>
    </div>
    </br>
    <div class="row">       
            {% for hemisphere in mars_info.hemi_img_url%} 
              <div class="col-6 border"></br>
                <div>
                  {{hemisphere.title}}
                    <img src="{{hemisphere.img_url}}"  width="600" height="600" alt="Mars Image" >
                </div>
              </div>
            {% endfor %}
    </div> 
  <hr>

  <!-- Script Scource URLs -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

</html>
